.imagenHabitacion{
 
        height:20%;
        width:50%;
        margin-left: auto;
        margin-right: auto;
      
}
.cardHoteles{
    text-align: center;
    background: rgb(224, 220, 180);
   
    
}